#title {
    text-align: center;
    font-family: arial, sans-serif;
}
#weapons {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#weapons td, #weapons th {
    border: 1px solid #ddd;
    padding: 8px;
}
#weapons tr:nth-child(even){ 
    background-color: #f2f2f2;
}
#weapons th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: orangered;
  color: #222222;
  font-weight: 700;
}