.tabNames {
    text-align: left;
    border-bottom: 1px solid #aaa;
}
.react-tabs__tab {
    font-size: 20px;
    font-weight: 700;
}
.react-tabs__tab--selected {
    color: #ffffff !important;
    background: orangered !important;  
}
.react-tabs__tab:hover {
    color: #ffffff;
    background: orangered;  
}
