.bg-dark {
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
}
.navbar-light .navbar-brand {
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px;
}
.navbar-light .navbar-brand:hover {
    color: #FFFFFF;
    padding: 10px;
    background: orangered;
}
.navbar-light .navbar-nav .nav-item {
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px;
} 
.navbar-light .navbar-nav .nav-item:hover {
    color: #FFFFFF;
    padding: 10px;
    background: orangered;
} 
.navbar-light .navbar-toggler {
    background: orangered;
}
.navbar-light .fa-bars {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 25px;
}
.line {
    border-left: 1px solid #FFFFFF;
    height: 44px;
}
@media screen and (max-width: 991px) {
    .line {
        display: none;
    }
}
@media screen and (max-width: 800px) {
    .bg-dark {
        padding-left: 2%;
        padding-right: 5%;
    }
}